body{
    font-family: "Bebas Neue";
    background-color: #FFEBF2;
    color: #3E000C;
    height: 100vh;
}
.main-container{
    margin-bottom: 125px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.compose-btn{
    min-height: 120px;
}

nav{
    background-color: #FB4B4E;
}

.email-section{

}
.outline{
    border-radius: 15px;
    outline: 3px solid #290008;
}

.underline{
    border-bottom: 5px solid #290008;
}

.font-xxl{
    font-size: large;
}

.font-lg{
    font-family:'Times New Roman', Times, serif;
    font-size: large;
}

.btn-danger{
    background-color: #C80407;
    color: #FFEBF2;
}
.btn-danger:hover{
    background-color: #B40407;
    color: #FFEBF2;
}
.btn-danger:active{
    background-color: #A00306 !important;
    color: #FFEBF2;
}

.btn-primary{
    background-color: #FC5F62;
}
.btn-primary:hover{
    background-color: #FB4B4E;
}
.btn-primary:active{
    background-color: #FB373A !important;
}

.reply-btn{
    background-color: #F7A1B9;
}
.reply-btn:hover{
    background-color: #F58EAC;
}
.reply-btn:active{
    background-color: #F47C9E !important;
}

.btn-outline-success{
    border: 1px solid #BC1041;
    color: #BC1041; 
}

.btn-outline-success:hover{
    /* border: 1px solid #BC1041; */
    /* color: #BC1041;  */
    background-color: #BC1041;
}

.btn-outline-success:active{
    background-color: #BC1041 !important;
}

.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
 }

 footer {
    position: fixed;
    bottom: 0;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @media screen and (min-width: 992px) {
    .font-xxl{
        font-size: xx-large;
    }
    .avatar{
        width: 50px;
        height: 50px;
    }
  }